$header-color: #264653;

header {
  background: $header-color;
  color: white;
  text-transform: uppercase;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: bolder;
}

.github {
  height: 25px;
  margin-right: 1rem;
}
