$primary-color: #f8f8f8;
$font-stack: "IBM Plex Mono", monospace;

#sidebar {
  overflow: auto;
  top: 10vh;
  left: 0;
  width: 15vw;
  height: 90vh;
  background: $primary-color;
  transition: left 0.3s ease-out;
  box-shadow: 5px 0px 15px -3px rgba(0, 0, 0, 0.1);
}

.add_button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 11px;
}

.add_project {
  align-items: center;
  background: #edf2f4;
  font-family: inherit;
  border: 2px solid black;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: crosshair;
  height: 35px;
  margin: 2px 18px 0 0;
  transition: box-shadow 0.15s, transform 0.15s;
  transform: translateY(-2px);
}

.add_project:hover {
  background: #dbecf3;
}

.add_project:active {
  transform: translateY(2px);
}

.projects {
  margin-top: 1rem;
}

.added_project {
  width: 100%;
  border-radius: 3px;
  padding: 1rem 0;
  background: #edf2f4;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.added_project:hover {
  background: #dbecf3;
}

.added_project h1 {
  margin-left: 1rem;
  font-weight: bolder;
}

.delete_button {
  max-width: 20px;
  cursor: pointer;
  margin-right: 1rem;
}

// New Project Popup

.new_project {
  visibility: hidden;
  padding: 0 2rem 0 2rem;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #edf2f4;
  border: 2px solid black;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.new_project h1 {
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: bolder;
}

.new_project form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.new_project form * {
  margin: 5px;
}

.new_project input,
textarea {
  padding: 5px;
  border-radius: 3px;
  border: 2px solid black;
}

.submit_button {
  padding: 5px;
  border-radius: 3px;
  border: 2px solid black;
  font-family: $font-stack;
  font-weight: bolder;
  transition: box-shadow 0.15s, transform 0.15s;
  cursor: pointer;
}

.submit_button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.submit_button:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submit_button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
