$primary-color: #000000;
$background-color: #ffffff;
$secondary-background-color: #fbe9ee;
$font-stack: "Kanit", sans-serif;

#sidebar {
  overflow: auto;
  top: 10vh;
  left: 0;
  height: 90vh;
  min-width: 15%;
  color: $primary-color;
  opacity: 1;
  transition: opacity 1s ease 0s;
  box-shadow: 6px 6px 2px -3px rgba(0, 0, 0, 0.51);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#sidebar:hover {
  opacity: 0.7;
}

.add_project_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: aquamarine;
  padding: 5px;

  h1 {
    font-weight: bolder;
    text-transform: uppercase;
    margin: 3px;
    font-size: 1.5rem;
  }
}

.add_project {
  background-color: $background-color;
  font-family: inherit;
  margin: 0 0 1rem 1rem;
  font-size: 1.2rem;
  border: 2px solid;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  transition: box-shadow 0.15s, transform 0.15s;
  box-shadow: 6px 6px 2px -3px aquamarine;
}

.add_project:active {
  transform: translateY(2px);
}

.projects {
  margin-top: 1rem;
  min-height: 300px;
  border-radius: 5px;
}

.added_project {
  width: 100%;
  border-radius: 3px;
  padding: 1rem 0;
  background: #edf2f4;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.added_project:hover {
  background: #dbecf3;
}

.added_project h1 {
  margin-left: 1rem;
  font-weight: bolder;
}

.delete_button {
  max-width: 20px;
  cursor: pointer;
  margin-right: 1rem;
}

// New Project Popup

.new_project {
  visibility: hidden;
  padding: 0 2rem 0 2rem;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $primary-color;
  background-color: aquamarine;
  border: 2px solid $primary-color;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.new_project h1 {
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: bolder;
  font-size: 1.2rem;
}

.new_project form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-weight: bold;
}

.new_project form * {
  margin: 5px;
}

.new_project input,
textarea {
  padding: 5px;
  border-radius: 3px;
  border: 2px solid black;
}

.submit_button {
  background-color: $background-color;
  font-family: inherit;
  border: 2px solid;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  transition: box-shadow 0.15s, transform 0.15s;
  box-shadow: 6px 6px 2px -3px rgba(0, 0, 0, 0.51);
}

.submit_button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
