@use "partials/reset";
@use "partials/header";
@use "partials/sidebar";
@use "partials/content";

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&display=swap");
$font-stack: "Kanit", sans-serif;
$primary-color: #000000;
$background-color: #ffffff;
$secondary-background-color: #fbe9ee;

body {
  font-size: 16px;
  font-family: $font-stack;
  .container {
    display: flex;
  }
}
